html{
    display: inline-block;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.email{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-image: url("../images/Page-1.png");
    background-repeat:no-repeat;
    background-size:10%;
    background-position: left;
    background-position-x: 0.2cm;
}
.password{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-image: url("../images/mail.png");
    background-repeat:no-repeat;
    background-size:10%;
    background-position: left;
    background-position-x: 0.2cm;
}

.password1{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-image: url("../images/lock.png");
    background-repeat:no-repeat;
    background-size:10%;
    background-position: left;
    background-position-x: 0.2cm;
}
.button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 50%;
    background-color: blue;
    color: white;
    border-color: white;
    font-weight: bold;
    font-size: large;
}
.social2{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.social{
    display: flex;
}

.oval {
    height:100px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }