body{
    justify-content:center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.password{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
